/*

あなたがこの文字列を私があなたにお見せした紙のリンクをたどって見ていますように
この文字列は君が読むのをずっとまっていました。//がhttpであるとわかるといいのだが、、、

正直、君がいないと寂しいようにかんじる。
あまり僕は上からものを言えないが、いそがなくてもいいから心の整理をつけてみたらどうかい?。
おそらく、lineで本山や橋高、井亀は話をきいてくれるだろう。
今思うとline交換しておけばよかった。僕はできないが、谷長とかでもいいから、はなしてみるだけいいとおもう。
秘密は多分まもるはず("本山"以外)。
君は彼かの友達だから。いきたくなったらいつでも(出席日なら、日曜とかは無理)迎える。

もしも的はずれなことをいっていたらスルーして。

P.S. いつかでいいけど、classiにあの紙に書いた結果の報告をしてほしい。もし、元にもどせなくなったらサーバーごとかきかえてもとにもどすから。多分先生にばれてもかるく注意されるだけだとおもう。

by 山横

*/

. {
  background-color:red !important;
}

# {
  background-color:red !important;
}

body{
  background-color:red !important;
 
}

h1,h2,h3,h4,h5,h6,h7,p,a,i{
  color:red !important;

 }

.block-info{
background-color:red !important;
  
}

p{
color:red !important;
}

footbar{
  background-color:red !important;
  color:red !important;
  
}
